<div class="post_header-img"
    style="background-image: url('data:{{post.images.headerImage.type}};base64,{{toBase64 post.images.header_image.data}}');">
    <div class="post_header-content text-center">
        <div class="post_header-content">
            <a href="/posts/?category={{post.category}}">{{post.category}}</a>
            <h1 class="py-4 px-2 post_header-text">{{post.title}}</h1>
            <p class="post_header-credits">By Ankit Phondani | {{getDate post.date}}</p>
        </div>
    </div>
</div>
<div class="post_spacer"></div>
<div class="my-3 my-sm-4">
    <div class="post_body">{{{post.body}}}</div>
    <p><small class="text-muted">Last updated &nbsp;{{getDate post.date}}</small></p>
</div>

<div class="row">
    <div class="col-md-10">
        <div id="post-comments">
            <div id="add-comment">
                <form action="/posts/comment/{{post._id}}" method="POST">
                    <div class="form-group">
                        <label for="#comment">Leave a Comment</label>
                        <textarea class="form-control p-2" id="comment" name="commentBody" type="text"
                            placeholder="Your Comment Here" rows="4"></textarea>
                    </div>
                    <input class="btn btn-primary form-control" type="submit" value="POST">
                </form>
            </div>
            <div class="py-3" id="show-comments">
                {{#each post.comments}}
                <div class="comments_item">
                    <div class="card card-body my-3 d-flex flex-row">
                        <div class="">
                            <img class="rounded-circle" src="https://picsum.photos/84" alt="">
                        </div>
                        <div class="ml-4">
                            <div class="comment_user-name">
                                <p>User Died </p>
                            </div>
                            <div class="comment_body pt-2">
                                <p>{{{commentBody}}}</p>
                                <small class="text-muted">{{getDate createdAt}}</small>
                            </div>
                        </div>
                    </div>
                    <form action="/posts/comment/{{../post._id}}?c_id={{_id}}&_method=DELETE" method="POST">
                        <button class="comment_delete" type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>