<div class="header_img">
  <div class="header_content text-center">
    <p>latest trends, latest tech, All at one place</p>
    <span>Connecting ideas and people – how tech is changing our lives.</span>
  </div>
</div>
<div class="spacer"></div>
<h2 class="py-3 section_header">Latest Posts</h2>
<hr>
<div class="my-3 my-sm-4">
  <div class="row">
    {{#each posts}}
    <div class="col-md-6 col-lg-4 py-3 py-sm-0 p-sm-2">
      <div class="post">
        <a href="/posts/show/{{_id}}">
          <div class="card">
            <img src="{{images.imageUrl}}" class="card-img"
              alt=".">
            <div class="post-category text-white">
              <a href="/posts?category={{category}}">{{category}}</a>
            </div>
            <div class="card-body post-body">
              <div class="text-muted">
                <p>{{getDate date}}</p>
              </div>
              <a href="/posts/show/{{_id}}">
                <h3 class="card-title post-title">{{title}}</h3>
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>